/*Universal Selector-ensures that all elements are sized in this more intuitive way*/
* {
    box-sizing: border-box;
}

/*Element Selectors*/
header {
    padding: 40px;
    text-align: center;
    background: #083660;
    color: #fff;
    border-bottom: 30px #94c441;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background: linear-gradient(0deg, rgb(21, 120, 213) 0%, rgba(237, 245, 249, 1) 55%);
}

button {
    background-color: orange;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
}





/*Class Selectors*/
.Heading {
    font-size: 3.5em;
    text-align: center;
}

.Word-Guess {
    width: 55vw;
    height: 400px;
}

.card {
    background: radial-gradient(circle, rgba(240, 230, 140, 1) 0%, rgba(187, 124, 33, 0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
}


.score-projection {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.Reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
    border-radius: 120%;
}


.word-blanks {
    line-height: 360px;
}

.card.timer {
    height: 240px;
    padding: 10px;
    background: #13293d;
    color: #fff;
    text-align: center;
    margin-bottom: 150px;
}


.timer-text {
    padding: 55px;
}

.results {
    width: 30vw;
    height: 400px;
}


/*Media Query*/
@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .Word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }


  }
  
  /*Media Query*/

  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .Reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
  }